aiohttp==3.8.3
aiopath==0.5.12
aiorun==2022.4.1
certifi==2022.9.24
colorlog==6.7.0
dnspython==2.2.1
meval==2.5
pymongo==4.2.0
pyrogram==2.0.56
python-dotenv==0.21.0
PyYAML==6.0
scikit-learn==1.1.1
tgcrypto==1.2.3
