aiohttp==3.7.4
aiorun==2021.8.1
aiopath==0.5.12
colorlog==6.5.0
dnspython==2.1.0
meval==2.5
pymongo==3.12.1
pyrogram==1.2.9
python-dotenv==0.19.1
PyYAML==6.0
tgcrypto==1.2.2
toml==0.10.2
scikit-learn==1.0
